<!-- <div class="header">
    <h1>Header</h1>
    <p>My supercool header</p>
    <input [(ngModel)] ='search' >
    <input (keyup.enter)="onSave($event)">
    <div *ngIf="search" >
      <p>search results for:{{search}}</p>
    </div>
    <button id="button" (click)="onSave($event)" (mouseover)="showist(true)" (mouseout)="showist(false)">click</button>
    <button >fls

    </button>
    
    
  </div>
<div *ngIf="showlist">
    <div *ngFor="let item of list">
      <p>  {{item}}</p>
    </div>  -->
  <!-- <p>
    thsoieoesiflk
  </p>
</div> --> 
<!-- <div class="mousediv" (mouseup)="mouseevnet('up')" (mouseleave)="mouseevnet('leave')" (mousedown)="mouseevnet('down')" (mouseenter)="mouseevnet('enter')"  (mousemove)="mouseevnet('move')" >
  <img [src]="imagePath" style="width: 600px;height: 400px;">
</div> -->
<!-- <div class="image-upload-container">
  <input type="file" id="imageUploader" (change)="onImageSelected($event)" accept="image/*" />
  <div class="canvas-container" *ngIf="imageSrc" >
    <img [src]="imageSrc" alt="Uploaded Image" id="uploadedImage" (load)="onImageLoad()" style="width: 600px;height: 400px;"/>
    <canvas id="imageCanvas"></canvas>
  </div>
</div> -->

