<p>canvas-area-draw works!</p>

<input type="file" (change)="onFileSelected($event)" accept="image/*">
<button (click)="onClickButton()">Save PolygonViewModel and Start New</button>
<button (click)="onReset()">Reset</button>
<button (click)="findpolygon()">label</button>
<button (click)="drawretangle()">rectangles </button>



        <canvas  #drawingCanvas width="1000" height="700" style="border:1px solid black;" (mousedown)="mouseEvents($event)"
        (mouseup)="mouseEvents($event)" (mousemove)="mouseEvents($event)" (click)="forLables($event)" (click)="forRectangels($event)"></canvas>
        <!-- <button (click)="downloadCanvas()">Download Image</button> -->


<!-- <button (click)="onclickButon()">clickme</button> -->













