<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Browser Image</title>
  <style>
    /*html, body {*/
    /*  height: 100vh;*/
    /*  width: 100vw;*/
    /*  margin: 0;*/
    /*  padding: 0;*/
    /*  overflow: hidden;*/
    /*  position: relative; !* Set position to relative for absolute positioning inside *!*/
    /*}*/
    .full-window {
      /*height: 100vh; !* 100% of viewport height *!*/
      /*width: 100vw; !* 100% of viewport width *!*/
      /*display: flex;*/
      /*justify-content: center; !* Center horizontally *!*/
      /*align-items: center; !* Center vertically *!*/
      /*overflow: hidden; !* Hide any overflowing content *!*/
      /*position: relative; !* Set position to relative for absolute positioning inside *!*/
    }
    /*app-multi-polygon{*/
    /*  height: 100vh; !* 100% of viewport height *!*/
    /*  width: 100vw; !* 100% of viewport width *!*/
    /*}*/
    /*.full-window img {*/
    /*  position: absolute; !* Position the image absolutely inside the container *!*/
    /*  top: 0; !* Align to the top of the container *!*/
    /*  left: 0; !* Align to the left of the container *!*/
    /*  width: 100%; !* Occupy the entire width of the container *!*/
    /*  height: 100%; !* Occupy the entire height of the container *!*/
    /*  max-width: 100%; !* Ensure the image doesn't exceed the viewport width *!*/
    /*  max-height: 100%; !* Ensure the image doesn't exceed the viewport height *!*/
    /*  object-fit: cover; !* Scale the image while maintaining aspect ratio and cropping *!*/
    /*}*/

    /*canvas {*/
    /*  position: absolute; !* Position the canvas absolutely inside the container *!*/
    /*  top: 0; !* Align to the top of the container *!*/
    /*  left: 0; !* Align to the left of the container *!*/
    /*  width: 100%; !* Occupy the entire width of the container *!*/
    /*  height: 100%; !* Occupy the entire height of the container *!*/
    /*  pointer-events: none; !* Allow clicks to pass through to the image *!*/
    /*  border: 1px solid #000;*/
    /*}*/
  </style>
</head>
<body>
<app-annotate></app-annotate>
<!--<div class="full-window">-->
<!--&lt;!&ndash;  <img src="assets/images/output.png" alt="" />&ndash;&gt;-->
<!--&lt;!&ndash;  <app-multi-polygon&ndash;&gt;-->
<!--&lt;!&ndash;  (polygonClicked)='console.log("clicked", $event.points)'></app-multi-polygon>&ndash;&gt;-->
<!--  -->
<!--</div>-->
</body>
</html>




