
<!-- <input type="file" (change)="onFileSelected($event)" accept="image/*">
<canvas #drawingCanvas width="800" height="600" style="border:1px solid #000000;"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"></canvas> -->




<!-- <canvas #canvasElement width="800" height="600"
        (wheel)="onMouseWheel($event)"
        (mousedown)="onMouseDown($event)" 
        (mouseup)="onMouseUp($event)"
        (mousemove)="onMouseMove($event)"
        (contextmenu)="onRightClick($event)"
        (click)="onClick($event)"></canvas> -->


<!-- combined.component.html -->
 <!-- <canvas #canvasElement width="800" height="600"
        (wheel)="onMouseWheel($event)"
        (mousedown)="onMouseDown($event)" 
        (mouseup)="onMouseUp($event)"
        (mousemove)="onMouseMove($event)"
        (contextmenu)="onRightClick($event)"></canvas>

<button (click)="toggleDrawingMode()">Toggle Drawing Mode</button>
<input type="file" (change)="onFileSelected($event)">  -->
<!-- <button (click)="savePolygon()">Save Polygon</button>
<button (click)="resetDrawing()">Reset Drawing</button> -->




<canvas #canvasElement width="1000" height="800" (mousedown)="startPanning($event)" (mousedown)="startDrawing($event)"></canvas>
<button (click)="resetCanvas()">Reset Canvas</button>
