<p>sidenav works!</p>
<div class="sidebar">
    <button class="sidebar-item"><i class="fa fa-hand-pointer-o"></i>
        
        <span class="tooltip-text">Annotate</span></button>
    <button class="sidebar-item">
        <i class="fa fa-search-plus"></i>
        <span class="tooltip-text"></span>
    </button>
    <button class="sidebar-item">
        <i class="fa fa-undo"></i>
        <span class="tooltip-text">Reset.</span>
    </button>
    <button class="sidebar-item">
        <i class="fa fa-square"></i>
        <span class="tooltip-text">bounding box</span>
    </button>
    <button (click)="click1()" class="sidebar-item">
        <i class="fa fa-download"></i>
        <span class="tooltip-text">Download image</span>
    </button>

</div>
